@page "/listadousuarios"
@using Microsoft.EntityFrameworkCore.Metadata.Internal
@rendermode InteractiveServer
@inject ListarUsuariosUseCase listarUsuariosUseCase
@inject AsignarPermisosUseCase asignarPermisos
@inject BajaUsuarioUseCase bajaUsuario
@inject IServicioAutorizacion autorizacion
@inject ISesion sesion

<h3>Listado de usuarios</h3>
@if(esAdmin)
{
    <button class="btn btn-primary">
        <span class="bi bi-plus" aria-hidden="true" @onclick="OnShowModalClick"></span> 
    </button> 
}

<table class= "table">
    <thead>
        <tr>
            <th class="text-center">Nombre</th>
            <th class="text-center">Apellido</th>
            <th class="text-center">Correo Electrónico</th>
            <th class="text-center">Permisos</th>
             @if (esAdmin)
            {
                <th class="text-center">Acciones</th> <!--- Solo se ve si tengo el permiso (soy administrador) --->
            }
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Correo Electrónico</th>
            <th>Permisos</th> 
            <th>Acciones</th> <!--- Solo se ve si tengo el permiso (soy administrador) --->
            
        </tr>
    </thead>
    <tbody>
        @foreach (var u in _lista)
        {
            <tr>
                <td class="text-center">@u.Nombre</td>
                <td class="text-center">@u.Apellido</td>
                <td class="text-center">@u.CorreoElectronico</td>
                <td class="text-center">
                    @string.Join(", ", u.Permisos.Select(p => p.ToString()))
                    @if(esAdmin) 
                    {
                        <Dropdown Class="btn-sm" Color="DropdownColor.Secondary" Split="true">
                            <DropdownToggleButton>Otorgar permiso</DropdownToggleButton>
                            <DropdownMenu>
                                <DropdownItem To="#" Type="DropdownItemType.Button"@onclick="@(() => AsignarPermiso(u,Permiso.Administrador))">@Permiso.Administrador</DropdownItem>
                                <DropdownItem To="#" Type="DropdownItemType.Button" @onclick="@(() => AsignarPermiso(u,Permiso.Usuario))">@Permiso.Usuario</DropdownItem>
                            </DropdownMenu>
                        </Dropdown>
                    }
                </td>
                @if (esAdmin ||(usuarioActual!= null && u.Id == usuarioActual.Id))
                {
                  <td class="text-center">  
                      <button class="btn btn-primary" @onclick="()=>OnShowModalClickEdit(u)">
                            <span class="bi bi-pencil" aria-hidden="true"></span> 
                      </button>
                      <button class="btn btn-danger">
                            <span class="bi bi-trash" aria-hidden="true" @onclick="()=>ShowSaveConfirmationAsync(u.Id)"></span>
                      </button>
                      
                  </td>
                }
                else
                {
                    <td> </td>
                }
            </tr>
        }
       
         
    </tbody>
    
</table>
 @if(AlertError)
{
    <Alert Color="AlertColor.Danger"> @errorMessage </Alert>
}
@if(AlertSucces)
{
    <div>
        <Alert Color="AlertColor.Success"> <h4>Se borró con éxito!</h4></Alert> 
    </div>
}
<Modal @ref="modal" Title="Agregar usuario" IsVerticallyCentered="true" UseStaticBackdrop="true"  >
    <BodyTemplate>
            <AltaUsuarioCDU/>
            <div style="display: flex; justify-content: flex-end;">
                <Button Color="ButtonColor.Danger" @onclick="OnHideModalClick">Cerrar</Button>
            </div>
    </BodyTemplate>
</Modal>
<Modal @ref="modal2" Title="Editar usuario" IsVerticallyCentered="true" UseStaticBackdrop="true">
    <BodyTemplate>
        <ModificarUsuarioCDU usuarioEditar="@editar"  />
        <div style="display: flex; justify-content: flex-end;">
            <Button Color="ButtonColor.Danger" @onclick="OnHideModalClickEdit">Cerrar</Button>
        </div>
</BodyTemplate>
</Modal>
<ConfirmDialog @ref="dialog" />


@code {
        
    bool esAdmin=false;
    private bool AlertError = false;
    private bool AlertSucces = false;
    string? errorMessage;
    private Modal? modal;
    private Modal? modal2;
    public Usuario? editar;
    List<Usuario> _lista = new List<Usuario>();
    Usuario? usuarioActual;
    protected override void OnInitialized()
    {
        AlertError = false;
        AlertSucces= false;
        _lista = listarUsuariosUseCase.Ejecutar(); 
        usuarioActual = sesion.ObtenerUsuarioActivo();
        esAdmin = usuarioActual != null && autorizacion.PoseeElPermiso(usuarioActual, Permiso.Administrador);
    }
    private ConfirmDialog? dialog;

    private  void Eliminar(int idUsuario)
    {   
        Usuario? usu = sesion.ObtenerUsuarioActivo();

       if(usu != null&& autorizacion.PoseeElPermiso(usu, Permiso.Administrador))
        {
            try
            {
               bajaUsuario.Ejecutar(idUsuario, usu);
               AlertSucces = true;
               OnInitialized();

            }catch(Exception ex)
            {   
                AlertError=true;
                errorMessage = $"Error: {ex}";
            }
        }
       

    }
    private void AsignarPermiso(Usuario usOtorgar,Permiso permiso)
    {
       
        try
        {
            asignarPermisos.Ejecutar(usOtorgar,permiso);
            OnInitialized();
        }
        catch(Exception ex)
        {
            AlertError = true;
            errorMessage = $"Error: {ex}";
        }
        
       
    }
    private async Task ShowSaveConfirmationAsync(int idUsuario)
    {
        var options = new ConfirmDialogOptions
            {
                YesButtonText = "Si",
                YesButtonColor = ButtonColor.Success,
                NoButtonText = "CANCEL",
                NoButtonColor = ButtonColor.Danger
            };

        if(dialog!= null)
        {
            var confirmation = await dialog.ShowAsync(
            title: "Eliminar",
            message1: "¿Estas seguro que queres eliminar el usuario?",
            confirmDialogOptions: options);
            if (confirmation)
            {
                Eliminar(idUsuario);
            }
        }
        
    }
    private async Task OnShowModalClick()
    {
        if (modal != null)
        {
            await modal.ShowAsync();
        }
    }
     
    private async Task OnShowModalClickEdit(Usuario e)
    {
        editar =e;
        if (modal2 != null)
        {
            await modal2.ShowAsync();
        }
        OnInitialized();
    }

    private async Task OnHideModalClick()
    {
        if (modal != null)
        {
            await modal.HideAsync();
        }
        OnInitialized(); 
    }
    private async Task OnHideModalClickEdit()
    {
        
        if(modal2!= null)
        {
            await modal2.HideAsync();
        }
        OnInitialized(); 
    }
    

}