@page "/listadousuarios"
@rendermode InteractiveServer
@inject ListarUsuariosUseCase listarUsuariosUseCase
@inject IServicioAutorizacion autorizacion

<table class= "table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>CorreoElectronico</th>
            <th>Clave</th>
            <th>Permisos</th>
             @if (esAdmin)
            {
              <th>Acciones</th> <!--- Solo se ve si tengo el permiso (soy administrador) --->
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var u in _lista)
        {
            <tr>
                <td>@u.Nombre</td>
                <td>@u.Apellido</td>
                <td>@u.CorreoElectronico</td>
                <td>@u.Clave</td>
                <td>@u.Permisos</td>
                @if (esAdmin)
                {
                  <td>  
                      <button class="btn btn-primary">Agregar</button>
                      <button class="btn btn-secundary">Editar</button>
                  </td>
                }
            </tr>
        }
    </tbody>
</table>

@code {
    bool esAdmin=false;
    List<Usuario> _lista = new List<Usuario>();
    protected override void OnInitialized()
    {
        _lista = listarUsuariosUseCase.Ejecutar();
        var usuarioActual = autorizacion.ObtenerUsuarioActivo();
        bool esAdmin = usuarioActual != null && autorizacion.PoseeElPermiso(usuarioActual, Permiso.Administrador);
    }

}
