@page "/listadopersonas"
@rendermode InteractiveServer
@inject ListarPersonasUseCase ListarPersonasUseCase
<table class= "table">
    <thead>
        <tr>
            <th>DNI</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Email</th>
            <th>Telefono</th>
            <th>Acciones</th> <!--- Solo se ve si tengo el permiso (soy administrador) --->
        </tr>
    </thead>
    <tbody>
        @foreach (var p in _lista)
        {
            <tr>
                <td>@p.Dni</td>
                <td>@p.Nombre</td>
                <td>@p.Apellido</td>
                <td>@p.Email</td>
                <td>@p.Telefono</td>
                <td>
                    <button>Agregar</button>
                    <button>Editar</button>
                </td>
            </tr>
        }
    </tbody>
</table>

@code {
    List<Persona> _lista = new List<Persona>();
    protected override void OnInitialized()
    {
        _lista = ListarPersonasUseCase.Ejecutar();
        // Este método se invoca una vez creada la instancia de la clase que representa el componente
    }

}