@page "/listadoeventosconcupodisponible"

@rendermode InteractiveServer
@inject ListarEventosConCupoDisponibleUseCase ListarEventosConCupoDisponible
@inject ListarPersonasUseCase RepoPersona
@inject IServicioAutorizacion autorizacion
@inject ISesion sesion


<h3>Listado de Eventos Deportivos con cupo disponible</h3>

@if (_eventos is null)
{
    <p>Cargando eventos...</p>
}
else if (_eventos.Count == 0)
{
    <p>No hay eventos registrados.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th class="text-center">Evento ID</th>
                <th class="text-center">Nombre</th>
                <th class="text-center">Descripción</th>
                <th class="text-center">Fecha y hora de Inicio</th>
                <th class="text-center">Duración de horas</th>
                <th class="text-center">Cupo máximo</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var e in listaEvento)
            {
                <tr>
                    <td class="text-center">@($"{e.persona?.Nombre} {e.persona?.Apellido}")</td>
                    <td class="text-center">@e.Id</td>
                    <td class="text-center">@e.Descripcion</td>
                    <td class="text-center">@e.FechaHoraInicio.ToString("dd/MM/yyyy")</td>
                    <td class="text-center">@e.DuracionHoras</td> <!--- Va así? Porque es un double -->
                    <td class="text-center">@e.CupoMaximo</td>
                </tr>
            }
        </tbody>
    </table>
}

@code{
    bool esAdmin=false;
    private List<EventoDeportivo>? _eventos;
    public class eventoViewModel
    {
        public int Id { get; set; }
        public string? Nombre { get; set; }
        public string? Descripcion { get; set; }
        public DateTime FechaHoraInicio { get; set; }
        public double DuracionHoras { get; set; }
        public int CupoMaximo { get; set; }
        public int? ResponsableId { get; set; }
        public Persona? persona  { get; set; }
    }
    List<eventoViewModel> listaEvento = new ();
    
    protected override void OnInitialized()
    {
        _eventos = ListarEventosConCupoDisponible.Ejecutar();
        hacer(_eventos);
        var usuarioActual = sesion.ObtenerUsuarioActivo();
        esAdmin = usuarioActual != null && autorizacion.PoseeElPermiso(usuarioActual, Permiso.Administrador);
    }

    public void hacer (List<EventoDeportivo> eventos)
    {
        var Personas = RepoPersona.Ejecutar(); 
        var RepoEventos = RepoPersona.Ejecutar();
        if (_eventos != null)
        {
            foreach (var e in _eventos)
            {
                eventoViewModel eventoView = new ();
                {
                    eventoView.Id= e.Id;
                    eventoView.Nombre = e.Nombre; 
                    eventoView.Descripcion = e.Descripcion;
                    eventoView.FechaHoraInicio = e.FechaHoraInicio;
                    eventoView.DuracionHoras = e.DuracionHoras;
                    eventoView.CupoMaximo = e.CupoMaximo;
                    eventoView.ResponsableId = e.ResponsableId;
                    eventoView.persona = Personas.FirstOrDefault(p => p.Id == e.ResponsableId);
                }
                listaEvento.Add(eventoView);
            }
        }
    }
    
}