@page "/listadousuarios"
@using Microsoft.EntityFrameworkCore.Metadata.Internal
@rendermode InteractiveServer
@inject ListarUsuariosUseCase listarUsuariosUseCase
@inject BajaUsuarioUseCase bajaUsuario
@inject IServicioAutorizacion autorizacion
<h3>Listado de usuarios</h3>
<button class="btn btn-primary">
    <span class="bi bi-plus " aria-hidden="true" @onclick="OnShowModalClick"></span> 
</button> 
<table class= "table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>CorreoElectronico</th>
            <th>Permisos</th>
             @if (esAdmin)
            {
              <th>Acciones</th> <!--- Solo se ve si tengo el permiso (soy administrador) --->
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var u in _lista)
        {
            <tr>
                <td>@u.Nombre</td>
                <td>@u.Apellido</td>
                <td>@u.CorreoElectronico</td>
                <td>@string.Join(", ", u.Permisos.Select(p => p.ToString()))</td>
                @if (esAdmin)
                {
                  <td>  
                      <button class="btn btn-primary" @onclick="()=>OnShowModalClickEdit(u.Id)">
                            <span class="bi bi-pencil " aria-hidden="true"></span> 
                        </button>
                        <button class="btn btn-danger">
                          <span class="bi bi-trash" aria-hidden="true"  @onclick="()=>Eliminar(u.Id)"></span>
                         </button>
                        
                  </td>
                }
            </tr>
        }
        @if(AlertError)
        {
            <Alert Color="AlertColor.Danger"> @errorMessage </Alert>
        }

        @if(AlertSucces)
        {
            <div>
                <Alert Color="AlertColor.Success"> <h4>Se a borrado con exito!</h4></Alert>
            </div>
        }
         
    </tbody>
</table>
<Modal @ref="modal" Title="Agregar usuario" IsVerticallyCentered="true" UseStaticBackdrop="true">
    <BodyTemplate>
            <AltaUsuarioCDU/>
    </BodyTemplate>
</Modal>
<Modal @ref="modal2" Title="Editar usuario" IsVerticallyCentered="true" UseStaticBackdrop="true">
    <BodyTemplate>
            <ModificarUsuarioCDU idUsuario="@idSeleccionado" />
    </BodyTemplate>
</Modal>


@code {
    bool esAdmin=false;
    private bool AlertError = false;
    private bool AlertSucces = false;
    string? errorMessage;
    private Modal? modal;
    private Modal? modal2;
    public int idSeleccionado;
    List<Usuario> _lista = new List<Usuario>();
    protected override void OnInitialized()
    {
        AlertError = false;
        AlertSucces= false;
        _lista = listarUsuariosUseCase.Ejecutar();
        var usuarioActual = autorizacion.ObtenerUsuarioActivo();
       esAdmin = usuarioActual != null && autorizacion.PoseeElPermiso(usuarioActual, Permiso.Administrador);
    }
  
    private  void Eliminar(int idUsuario)
    {   
        Usuario? usu = autorizacion.ObtenerUsuarioActivo();

       if(usu != null&& autorizacion.PoseeElPermiso(usu, Permiso.Administrador))
        {
            try
            {
               bajaUsuario.Ejecutar(idUsuario, usu);
               AlertSucces = true;
               OnInitialized();

            }catch(Exception ex)
            {   
                AlertError=true;
                errorMessage = $"Erro: {ex}";
            }
        }
       

    }
     private async Task OnShowModalClick()
    {
        
        await modal?.ShowAsync();
        OnInitialized();
    }
    private async Task OnShowModalClickEdit(int id)
    {
        idSeleccionado = id;
        await modal2?.ShowAsync();
    }

    private async Task OnHideModalClick()
    {
        
        await modal?.HideAsync();
        OnInitialized();
        
    }
    

}
